.container-perfil{
    @include container;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    "aside main"
    "aside main";
    
}
.menu-mobile{
    display: none;
}
.aside-perfil {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    background: $text-color;
    box-shadow: 3px 1px 1px #DEDEDE;


    .box1 {
        width: 100%;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        

        i {
            font-size: 15rem;
            border-radius: 50px;
            }
        
        h2 {
            font-size: 2rem;
        }
    }
    .box2 {
        height: 40rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
        gap: 3rem;
        font-size: 1.6rem;
        
    
        a {
            color: #000000;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:hover {
                color:$second-color;
                font-weight: bold;
                }
        }
    
        i {
            padding: 1rem;
            font-size: 2rem;
        }
    }
    .box3 {
        height: 12rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 2rem;
        
        a {
            font-size: 1.6rem;
            color: #000000;
            text-transform: uppercase;
    
            &:hover {
                color: $second-color;
                font-weight: bold;
            }

            i {
                padding: 0.5rem;
                font-size: 2rem;
            }
        }
    }
}

.main-perfil{
    grid-area: main;
    display: flex;


    .m-esq{
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:7rem;

        h2{
            padding: 7rem 0 0 5rem;
            
        }

        .box{
            width: 80%;
            height: 4rem;
            margin-left: 6rem;
            background: #111010f8;

            table{
                font-size: 1.5rem;
                width: 98%;
                padding-left: 2rem;

                th,td{
                    text-align: start;

                    &:nth-child(2){
                        text-align: end;
                    }
                }
            }

            i{
                color:#F6DBBF;
                padding-left: 1rem;
                padding-top: 0.5rem;
            } 

            .fa-solid{
                color:#FF3131;
            }

            a{
                color:$text-color;
                padding-left: 0.3rem;   
            }

            span{
                float: right;
                padding-top: 0.3rem;
                padding-right: 1rem;
                color:red;
                font-weight: bold;
            }
        
            div{
                display:none;
            
                &:target{
                    display: block;
                }
            }    
            #box1, 
            #box2,
            #box3,
            #box4{
                background: white;
                width: 100%;
                height: 7rem;
                border:.2rem solid black;
            }
        }    
    }

    .m-dir{
        height: 100%;
        width: 50%;
        align-items: flex-end;
        padding: 3rem 3rem 0 3rem;
        .button {
            display: flex;
            justify-content: flex-end;
        
            button {
                cursor: pointer;
                background: #919191;
                height: 4rem;
                width: 8rem;
                font-weight: bold;
                border-radius: 5px;
            }
        }
        
        p{
            display: flex;
            justify-content: flex-end;
            padding: 3rem 5rem 2rem 0;
            font-size: 1.3rem;
            font-weight: bold;

        }
        .detalhes{
            width: 100%;
            height: 57rem;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .img{
                width: 80%;
                height: 30rem;
                img{
                    width: 100%;
                    height: 30rem;
                    border-radius: 5px;
                }
            }

            .info{
                width: 100%;
                height: 25rem;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding:2rem 0 0 0; 
                gap:2rem;

                h4{
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                }
                table{
                    width: 80%;
                    height: 10rem;
                    padding: 0 1rem;
                    background-color: $text-color;
                    border-radius: 10px;
                    box-shadow: 3px 1px 1px 1px #DEDEDE;
                    
                    th,
                    td{
                        text-align: start;
                        padding-top: 1rem;

                        &:nth-child(2){
                            text-align: end;
                        }
                    }
                    tr:nth-child(2) td {
                        padding-bottom: 1.5rem;
                    }
                    tr:nth-child(3) td{
                        border-top: .2rem dashed #bfbfbf;
                        padding-bottom: 1rem;
                    }

                    td{
                        font-size: 1.3rem;
                    }
                }
            }
        }   
    }
}   

@media only screen and (max-width: 480px) {
    .container-perfil{
        grid-template-columns: 1fr;
        grid-template-areas: "main";
    }

    .aside-perfil{
        display:none;
    }
    .main-perfil{
        position: relative;
        flex-direction: column;
        gap:5rem;

        .m-esq{
            width:100%;
            height: 50%; 
            align-items: flex-start;   

            h2{
                padding-top: 10rem;
            }
            
            .box{
                margin-left: 1rem;
                width: 90%;
            }
        }
        .m-dir{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 1rem;
            
            .button{
                    position: absolute;
                    top:1rem;
                }
            .detalhes{
                width: 100%;

                .img{
                width: 30rem;
                height: 20rem;
                    img{
                        width: 30rem;
                        height: 20rem;
                    }
                }
                .info{
                    width: 100%;
                    height: 30rem;
                    padding: 0.5rem;

                    h4{
                        padding-top: 2rem;
                    }
                    
                    table{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width:480px) and (max-width:950px){
    .container-perfil {
        grid-template-columns: 1fr;
        grid-template-areas: "main";
    }

    .aside-perfil {
        display: none;
    }

    .main-perfil{
        width: 100%;

        .m-esq{
            width: 100%;
            height: 100%;
            align-items: flex-start;

            .box{
                margin-left: 1rem;
                width: 90%;

                table{
                    font-size: 1rem;
                    padding-left: 0.5rem;
                }

            }
        }
        .m-dir{
            width: 100%;
            height: 100%;
            flex-direction: column;
            gap:2rem;
            align-items: flex-end;
            
            .detalhes{
                width: 100%;
                align-items: flex-end;
                .img{
                    width: 30rem;
                    height: 30rem;  
                    
                    img{
                        width: 30rem;
                        height: 25rem;
                    }
                }
                
                .info{
                    width: 100%;
                    height: 30rem;
                    align-items: flex-end;
                    padding: 0.5rem;

                    h4{
                        padding-top: 1rem;
                    }

                    table{
                        width: 90%;
                    }
                }
            }
        }
    }


}
@media only screen and (max-width: 950px) {
    .menu-mobile{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 2rem;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4rem;
        background-color:$primary-color;
        z-index: 999;

        a{
            color:$text-color;
        }
        
    }
    
}