@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  grid-template-rows: 7rem 21.5rem 63rem;
  grid-template-areas: "header" "nav" "main" "footer";
}

header {
  grid-area: header;
}
header .header .comeback {
  margin-top: 1.8rem;
  margin-left: 1.8rem;
}
header .header .comeback button {
  background: white;
  outline: none;
  border: none;
  text-decoration: none;
  font-size: 2.5rem;
}

nav .banner {
  display: flex;
  justify-content: center;
}
nav .banner .background {
  width: 109rem;
  height: 20rem;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  box-shadow: rgb(122, 122, 122) 2rem0 4px 31px -18px;
}

main {
  grid-area: main;
}
main .viagem {
  display: grid;
  grid-template-rows: 16rem 20rem 12rem;
  grid-template-areas: "header nav" "main nav" "main aside" "main footer";
  gap: 2rem;
  justify-content: center;
}
main .viagem .local {
  grid-area: header;
  border: 0.1rem solid black;
  border-radius: 0.75rem;
  width: 35rem;
  height: 15rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0.4rem 0.3rem 0.2rem 0.2rem grey;
}
main .viagem .local .tittle {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: center;
}
main .viagem .local .info-local {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 0.7rem;
  border-bottom: 0.1rem dotted black;
}
main .viagem .local .info-local h6 {
  font-size: 1.3rem;
  color: grey;
}
main .viagem .local .info-local h4 {
  margin-top: 0.3rem;
  font-size: 1.5rem;
}
main .viagem .local .info-local h5 {
  margin-top: 0.3rem;
  font-size: 1.3rem;
}
main .viagem .local .bottom {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
main .viagem .passageiro {
  grid-area: nav;
  border: 0.1rem solid black;
  border-radius: 0.75rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  height: 35rem;
  width: 30rem;
  box-shadow: 0.4rem 0.3rem 0.2rem 0.2rem grey;
}
main .viagem .passageiro .tittle {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  margin-top: 1rem;
}
main .viagem .passageiro .info {
  display: flex;
  flex-direction: column;
}
main .viagem .passageiro .info label {
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-left: 1.5rem;
}
main .viagem .passageiro .info input {
  outline-color: red;
  width: 22rem;
  height: 2.2rem;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}
main .viagem .passageiro button {
  margin-top: 2.5rem;
  margin-left: 5.5rem;
  width: 20rem;
}
main .viagem .pagamento {
  grid-area: main;
  display: flex;
  border: 0.1rem solid black;
  border-radius: 0.75rem;
  flex-direction: column;
  width: 35rem;
  height: 43rem;
  box-shadow: 0.4rem 0.3rem 0.2rem 0.2rem grey;
}
main .viagem .pagamento .tittle {
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  margin-bottom: 1.8rem;
  margin-top: 1rem;
}
main .viagem .pagamento .layout-box-pag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.8rem;
}
main .viagem .pagamento .layout-box-pag .box {
  border: 0.1rem solid black;
  border-radius: 4.5rem;
  height: 6rem;
  width: 6rem;
  background-size: 4rem;
  background-repeat: no-repeat;
  background-position: center;
}
main .viagem .pagamento .layout-box-pag .box:nth-child(1) {
  background-image: url(/img/pix.png);
}
main .viagem .pagamento .layout-box-pag .box:nth-child(2) {
  background-image: url(/img/boleto.png);
}
main .viagem .pagamento .layout-box-pag .box:nth-child(3) {
  background-image: url(/img/cartao.png);
}
main .viagem .pagamento .card {
  display: flex;
  flex-direction: column;
}
main .viagem .pagamento .card label {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
main .viagem .pagamento .card input {
  text-decoration: none;
  margin-left: 1.5rem;
  width: 20rem;
}
main .viagem .pagamento .card input:nth-child(6) {
  width: 6rem;
  padding-left: 0.15rem;
}
main .viagem .pagamento .card input:nth-child(8) {
  width: 4rem;
  padding-left: 0.22rem;
}
main .viagem .pagamento button {
  margin-top: 2rem;
  width: 14rem;
  margin-left: 10rem;
  margin-bottom: 1rem;
}
main .viagem .extrato {
  border: 0.1rem solid black;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  grid-area: aside;
  width: 30rem;
  height: 12rem;
  box-shadow: 0.4rem 0.3rem 0.2rem 0.2rem grey;
}
main .viagem .extrato .tittle {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
  display: flex;
}
main .viagem .extrato .info-ex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4rem;
}
main .viagem .extrato .info-ex .info-top {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
main .viagem .extrato .info-ex .info-down {
  display: flex;
  border-top: 0.1rem dotted black;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
main .viagem .termos {
  border: 0.1rem solid black;
  border-radius: 0.75rem;
  grid-area: footer;
  width: 30rem;
  height: 4rem;
  font-size: 1.8rem;
  padding-left: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 0.5rem;
  box-shadow: 0.4rem 0.3rem 0.2rem 0.2rem grey;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
}
footer button {
  width: 25rem;
  height: 3rem;
}/*# sourceMappingURL=style-pagamento.css.map */