@import './variables';
@import './base';

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 55px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

header{
    display: flex;
    grid-area: header;
    background: $primary-color;

    .h-esq{
        width: 50%;
        height: 100%;

        img{
            padding: 0 0 1rem 3rem;
            width: 18rem;
            height: 8rem;
        }
    }

    .h-dir{
        width: 50%;
        height: 100%;
        padding-right: 10rem;
        gap: 1rem;
        font-weight: bolder;
        display: flex;
        align-items: center;
        justify-content: flex-end;


        a:hover{
            color: $text-color;
        }

     
    }
    
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
    background: $second-color;
    color:$text-color;
    text-align: center;


    img{
       height: 3.3rem;
              
    }
    
}