@import '_variables';
@import '_base';

.container {
    display: grid;
    height: 200vh;
    width: 100vw;
    margin: 0 auto;
    grid-template-areas: 
    'header header'
    'main main';
}

header {
        grid-area: header;
    .comeback {
        margin-top: 0.8rem;
        margin-left: 0.8rem;
        button {
            background: $text-color;
            outline: none;
            border: none;
            text-decoration: none;
            font-size: 1.5rem;
        }
   }
   .banner {
    width: 109rem;
    height: 20rem;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 5rem;
    margin-left: 40rem;
    margin-right: 1rem;
   }
}
main {
    grid-area: main;
    .viagem {
        display: grid;
        grid-template-areas: 
         'header nav'
         'main aside'
         'main footer';
        justify-content: center;

         .local {
            grid-area: header;
            border: .1rem solid black;
            border-radius: .75rem;
            width: 35rem;
            height: 15rem;
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .tittle{
                font-size: 1.3rem;
                margin-bottom: .3rem;
                display: flex;
                justify-content: center;
            }

            .info-local {
                display: flex;
                justify-content: space-between;
                margin-left: 1rem;
                margin-right: 1rem;
                padding-bottom: .7rem;
                border-bottom: .1rem dotted black;

                    h6 {
                        font-size: 1.3rem;
                        color: grey;
                    }
                    h4{
                        margin-top: .3rem;
                        font-size: 1.5rem;
                    }
                    h5{
                        margin-top: .3rem;
                        font-size: 1.3rem;
                    }
            }
            .bottom {
                display: flex;
                justify-content: space-between;
                font-size: 1.5rem;
                margin-top: .5rem;
                margin-left: 1rem;
                margin-right: 1rem;
                margin-bottom: .5rem;
            }
        }
        .passageiro {
            grid-area: nav;
            border: .1rem solid black;
            border-radius: .75rem;
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            height: 35rem;
            width: 30rem;
              
            .tittle{
                display: flex;
                justify-content: center;
                font-size: 1.3rem;
                margin-top: 1rem;
            }

            .info {
                display: flex;
                flex-direction: column;
                
                label {
                    font-size: 1.5rem;
                    margin-top: 3rem;
                    margin-left: 1.5rem;
                }

                input {
                    outline-color: red; 
                    width: 22rem;
                    height: 2.2rem;
                    font-size: 1.2rem;
                    margin-top: .5rem;
                    margin-left: 1.5rem;
                }
            }
            button {
                margin-top: 2.5rem;
                margin-left: 4rem;
            }
        }
        .pagamento {
            grid-area: main;
            display: flex;
            border: .1rem solid black;
            border-radius: .75rem;
            flex-direction: column;
            width: 35rem;
            height: 43rem;

            .tittle {
                display: flex;
                font-size: 1.3rem;
                justify-content: center;
                margin-bottom: 1.8rem;
                margin-top: 1rem;
            }
            .layout-box-pag {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 1.8rem;
                
                .box {
                    border: .1rem solid black;
                    border-radius: 4.5rem;
                    height: 6rem;
                    width: 6rem;
                    background-size: 4rem;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .box:nth-child(1) {
                    background-image:url(/img/pix.png);
                }
                .box:nth-child(2) {
                    background-image:url(/img/boleto.png);
                }
                .box:nth-child(3) {
                    background-image:url(/img/cartao.png);
                }
            }

            .card {
                display: flex;
                flex-direction: column;

                label {
                    margin-left: 1.5rem;
                    margin-top: 1.5rem;
                    margin-bottom: .5rem;
                    font-size: 1.5rem;
                }
                
                input {
                    text-decoration: none;
                    margin-left: 1.5rem;
                    width: 20rem;
                }
                input:nth-child(6) {
                    width: 6rem;
                    padding-left: .15rem;
                }
                input:nth-child(8) {
                    width: 4rem;
                    padding-left: .22rem;
                }
            }

            button {
                margin-top: 2rem;
                width: 14rem;
                margin-left: 10rem;
                margin-bottom: 1rem;
            }
        }   
        .extrato {
            border: .1rem solid black;
            border-radius: .75rem;
            display: flex;
            flex-direction: column;
            grid-area: aside;
            width: 30rem;
            height: 12rem;

            .tittle {
                font-size: 1.5rem;
                margin-bottom: 1.5rem;
                margin-top: 1rem;
                margin-left: 1.5rem;
                display: flex;
            
            }
            .info-ex {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 4rem;

                .info-top {
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.5rem;
                    margin-bottom:.5rem;
                    margin-top:.5rem;
                    margin-left: .8rem;
                    margin-right: .8rem;
                }
                .info-down {
                    display: flex;
                    border-top: .1rem dotted black;
                    justify-content: space-between;
                    font-size: 1.5rem;
                    margin-bottom:.5rem;
                    padding-top:.5rem;
                    margin-left: .8rem;
                    margin-right: .8rem;
                }
            }
        }
        .termos {
            border: .1rem solid black;
            border-radius: .75rem;
            grid-area: footer;
            width: 30rem;
            height: 4rem;
            font-size: 1.8rem;
            padding-left: 1rem;
            padding-top: .7rem;
            padding-bottom: .5rem;
        }
    }
         button {
            margin-top: 1rem;
            margin-left: 18rem;
            width: 20rem;
         }
}