@import '_variables';
@import '_base';

.container {
    display: grid;
    height: 100vh;
    width: 98.8vw;
    grid-template-rows: 7rem 29rem 26rem;
    grid-template-areas: 
    'header'
    'nav'
    'main'
    'main'
    'footer';

    header {
        grid-area: header;
        .header {
            background: $primary-color;
            display: flex;
            justify-content: space-between;
            
            .icon {
                display: flex;
                background:url(../img/Design\ sem\ nome\ \(27\).png);
                width: 7rem;
                height: 5rem;
                background-repeat: no-repeat;
                background-size: cover;
                background-position-x: -1.55rem;
                margin-top: 1rem;
                margin-left: 1rem;
                margin-bottom: 1rem;
            }
            .accout {
                margin-right: 5rem;
                margin-top: 3rem;
                display: flex;
                gap: 1rem;
                align-items: center;
                font-size: 1.5rem;
                margin-bottom: 2rem;
            }
        }
    }

    nav {
        grid-area: nav;
        .banner {
            background: url(../img/banner.jpg);
            background-size:cover;
            background-position-y: -23rem;
            background-repeat: no-repeat;
            width: 130rem;
            height: 25rem;
        }
    }

    main {
        grid-area: main;
        display: grid;
        grid-template-rows: 5rem;
        grid-template-areas: 
        'header'
        'main';

        .tittle {
            grid-area: header;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }

        .main {
            grid-area: main;
            display: grid;
            grid-template-rows: 26rem 8rem;
            grid-template-areas: 
            'header'
            'nav'
            'main';
            
            .planos {
                grid-area: header;
                display: flex;
                justify-content: space-around;
            
                .box {
                    border: .1rem solid $border-color;
                    border-radius: .5rem;
                    height: 18rem;
                    width: 30rem;
                    display: flex;
                    flex-direction: column;
                    box-shadow: .4rem .3rem .2rem .2rem $shadow-color;
                    
                    .tittle {
                        border-bottom: .1rem solid $border-color;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        
                        .banner {
                            height: 5rem;
                            width: 5rem;
                            background: url(../img/azul-logo.png);
                            background-size: cover;
                        }
                        .banner2 {
                            height: 5rem;
                            width: 5rem;
                            background: url(../img/gol-logo.png);
                            background-size: 5rem;
                            background-repeat: no-repeat;
                            background-position-y: 1rem;
                        }
                        .banner3 {
                            height: 5rem;
                            width: 5rem;
                            background: url(../img/latam-logo-19.png);
                            background-size: 2.5rem;
                            background-repeat: no-repeat;
                            background-position-x: 1rem;
                            background-position-y: .5rem;
                        }
                    }
                    .info {
                       display: flex;
                       width: 30rem;
                       height: 15rem;
                       flex-direction: column;
                       justify-content: center;

                       .desc {
                        display: flex;
                        justify-content: space-between;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        padding-bottom: 3rem;
                       }
                       .desc1 {
                        display: flex;
                        justify-content: space-between;
                        padding-left: 2.5rem;
                        padding-right: 2rem;
                       }
                    }
                }
            }

            .pesquisa {
                grid-area: nav;
                display: flex;
                flex-direction: column;
                
                .tittle {
                    display: flex;
                }

                .search {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
                }
            }

            .resultado {
                grid-area: main;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 1rem;

                
                .box {
                    border: .1rem solid $border-color;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100rem;
                    box-shadow: .4rem .3rem .2rem .2rem $shadow-color;
                    .box-l {
                        display: flex;
                        gap:10rem ;
                        padding: 2rem;
                        .hour-s {
                            display: flex;
                            justify-content: center;
                        }
                        .hour-c {
                            display: flex;
                            justify-content: center;
                        }
                        .box-l-d {
                            display: flex;
                            justify-content: center;
                        }
                    }
                    .box-r {
                        width: 10rem;
                        display: flex;
                        align-items: center;
                        .preco {
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
    
    .footer {
        background: $second-color;
        display: flex;
        margin-top: 1rem;

        .f-esq {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;

            .img {
                width: 25%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img:nth-child(2) {
                    height: 4rem;
                }

                img:nth-child(1) {
                    width: 7rem;
                }
            }

            h6 {
                font-weight: lighter;
                color: $text-color;
            }
        }
        .f-dir {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            padding-right: 1rem;

            a {
                font-size: 2.5rem;
                padding-right: 1rem;

                .bxl-facebook-square {
                    color: #1877f2;
                }

                .bxl-twitter {
                    color: #1da1f2;
                }

                .bxl-youtube {
                    color: #c4302b;
                }

                .bxl-instagram {
                    color: #e35a91;
                }
            }

            span {
                position: absolute;
                top: 1rem;
                right: 1rem;
                color: $text-color;
            }
        }
    }
}
