@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  display: grid;
  height: 100vh;
  width: 98.8vw;
  grid-template-rows: 8rem 29rem 26rem 60rem;
  grid-template-areas: "header" "nav" "main" "footer";
}
.container header {
  grid-area: header;
}
.container header .header {
  display: flex;
  justify-content: space-between;
}
.container header .header .icon {
  display: flex;
  background: url(../img/Design\ sem\ nome\ \(27\).png);
  width: 6rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -1.55rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
.container header .header .accout {
  margin-right: 5rem;
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.5rem;
}
.container nav {
  grid-area: nav;
}
.container nav .banner {
  background: url(../img/banner.jpg);
  background-size: cover;
  background-position-y: -23rem;
  background-repeat: no-repeat;
  width: 130rem;
  height: 25rem;
}
.container main {
  grid-area: main;
  display: grid;
  grid-template-rows: 5rem;
  grid-template-areas: "header" "main";
}
.container main .tittle {
  grid-area: header;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.container main .main {
  grid-area: main;
  display: grid;
  grid-template-rows: 26rem 8rem;
  grid-template-areas: "header" "nav" "main";
}
.container main .main .planos {
  grid-area: header;
  display: flex;
  justify-content: space-around;
}
.container main .main .planos .box {
  border: 0.1rem solid black;
  height: 18rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
}
.container main .main .planos .box .tittle {
  border-bottom: 0.1rem solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container main .main .planos .box .tittle .banner {
  height: 5rem;
  width: 5rem;
  background: url(../img/azul-logo.png);
  background-size: cover;
}
.container main .main .planos .box .tittle .banner2 {
  height: 5rem;
  width: 5rem;
  background: url(../img/gol-logo.png);
  background-size: 5rem;
  background-repeat: no-repeat;
  background-position-y: 1rem;
}
.container main .main .planos .box .tittle .banner3 {
  height: 5rem;
  width: 5rem;
  background: url(../img/latam-logo-19.png);
  background-size: 2.5rem;
  background-repeat: no-repeat;
  background-position-x: 1rem;
  background-position-y: 0.5rem;
}
.container main .main .planos .box .info {
  display: flex;
  width: 30rem;
  height: 15rem;
  flex-direction: column;
  justify-content: center;
}
.container main .main .planos .box .info .desc {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
}
.container main .main .planos .box .info .desc1 {
  display: flex;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 2rem;
}
.container main .main .pesquisa {
  grid-area: nav;
  display: flex;
  flex-direction: column;
}
.container main .main .pesquisa .tittle {
  display: flex;
}
.container main .main .pesquisa .search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.container main .main .resultado {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.container main .main .resultado .box {
  border: 0.1rem solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100rem;
}
.container main .main .resultado .box .box-l {
  display: flex;
  gap: 10rem;
  padding: 2rem;
}
.container main .main .resultado .box .box-l .hour-s {
  display: flex;
  justify-content: center;
}
.container main .main .resultado .box .box-l .hour-c {
  display: flex;
  justify-content: center;
}
.container main .main .resultado .box .box-l .box-l-d {
  display: flex;
  justify-content: center;
}
.container main .main .resultado .box .box-r {
  width: 10rem;
  display: flex;
  align-items: center;
}
.container main .main .resultado .box .box-r .preco {
  display: flex;
  justify-content: center;
}
.container footer {
  grid-area: footer;
}
.container footer .footer {
  border: 0.1rem solid black;
}
.container footer .footer .f-esq {
  border: 0.1rem solid black;
}
.container footer .footer .escrita {
  border: 0.1rem solid black;
}
.container footer .footer .redes-sociais {
  border: 0.1rem solid black;
}/*# sourceMappingURL=style-detalhamento.css.map */